.body.active{
    background-color: rgb(74, 19, 10);
}
.body.active h1{
    color:white;
}
.body{
    background-color: rgb(3, 63, 94);
    overflow: hidden;
}
h1{
    text-align:center;
    font-size:50px;
    padding:0;
    color:red;
    text-shadow:8px 8px 8px rgb(42, 33, 33) ;
}
#game{
    display: flex;
    justify-content: center;
    background-color: rgb(1, 17, 26);
}
.grid{
    /* width: 100%; */
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 80px);
    padding: 10px 40px;
}
.box{
    width: 80px;
    height: 80px;
    background-color:#7c828a;
    display: flex;
    margin-top:5px;
    margin-left:5px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 2.2rem;
    cursor: pointer;
}
.box:hover{
    box-shadow: 1px 1px 5px  rgb(96, 170, 100);
}
#bomb{
    font-size: 2.2rem;
    display:none;
}
.bomb.rotate{
    animation: rotate .5s linear 3;
}
.bomb.active{
    animation: explode 0.8s linear;
}
/* animation to explode */
@keyframes explode{
    0%{
        transform: scale(3);
        opacity: 1;
    }
    100%{
        transform: opacity(0);
    }
}
.para{
    display: flex;
    justify-content: center;
}

.para p{
    font-size: 25px;
    color:white;
    margin-left: 80px;
    text-align: center;
}
#restart a{
    text-decoration: none;
    color:white;
    padding:0px 10px 0px 10px;
    background-color: rgb(7, 2, 2);
    border-radius: 8px;
}
#restart a:active{
    background-color: rgb(246, 250, 247);
   color:rgb(3, 3, 3);
   scale:1.5;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media(max-width:510px){
    .grid{
        /* width: 100%; */
        display: grid;
        grid-gap: 2px;
        grid-template-columns: repeat(5, 40px);
        padding: 5px 20px;
    }
    .box{
        width: 40px;
        height: 40px;
        background-color:#7c828a;
        display: flex;
        margin-top:2px;
        margin-left:2px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        font-size: 1.2rem;
        cursor: pointer;
    }
    #bomb{
        font-size: 1.2rem;
        display:none;
    }
}
